h1,h2,p{
font-family: Lato;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

/* Начало верстки поисковой строки*/

.searchString img{
    background-color: #222222;
}
.searchString button{
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
}
.searchString{
    display: grid;
    grid-template-columns: 230px 1fr 1fr 240px ;
    grid-template-rows: 1fr ;
    max-width: 100%;
    min-height: 75px;
    background-color: #222222;
    justify-content: center;
}
.over{
    grid-column-start: 3;
    display: flex;
    justify-content: end;
    flex-basis:content;
    align-items:center;
}
.Logo{
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* встречающее фото*/

.startBlockWithnameShop{
    display: grid;
    grid-template-columns:  1fr 1fr  ;
    grid-template-rows: 764px ;
    max-width: 100%;
    min-height: 764px;
    justify-content: center;
    background-color: #F1E4E6;
}
.meansPhoto img{
max-width: 800.58px;
max-height: 764px;
top: 75px;
gap: 0px;
opacity: 0px;
}
.textstartBlockWithnameShop{
    width: 764px;
    height: 92px;
    top: 212.48px;
    left: 425px;
    gap: 0px;
    opacity: 0px;  
}
.fashon{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.fashon main{
    display: flex;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    color: #222222;
    flex-wrap: nowrap;
    }
.fashon marker{
    display: flex;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #222222;
    gap: 10px;
}
.fashon div{
    display: flex;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #F16D7F;
}

/*  блок №3 зона выбора */
 .dres{
    display: grid;
    grid-template-columns: repeat(3, 360px) ;
    grid-template-rows: 1fr ;
    gap: 30px;
    margin: 65px auto;
    max-width: 100%;
    min-height: 361px;
    justify-content: center;
 }
.sectionSlace h2{
    font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: center;
color: #FFFFFF;

}
.sectionSlace p{
    font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: center;
color: #F16D7F;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
}
.forWoman {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),url(./img/for\ woman.png);
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.ForMan{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(./img/men.png) ;
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.ForKids{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(./img/kid.png);
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.accesoares{
    display: grid;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url(./img/Accesories.png);
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 1138px;
    height: 180px;
    top: 1194px;
    left: 230px;
    gap: -0px;
    opacity: 0px;
    align-content: space-around;
    justify-content: center;
    margin: auto auto 96px auto;
}
.accesoares h2,p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.accesoaresTextBlok{
    width: 159.72px;
height: 50px;
top: 1259px;
left: 721.14px;
gap: 0px;
opacity: 0px;
}
/*Блок 4 карты с товарами*/
.textIntoCard{
    margin: 24.3px 28.8px 20px 16.4px ;

}
.showcaseText h2{
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    gap: 40px;
}
.showcaseText p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #9F9F9F;
    text-align: center;
    margin: 6px auto 48px auto;
    gap: 40px;
}
.showcaseSaleCard{
    display: grid;
    grid-template-columns: repeat(3, 360px) ;
    grid-template-rows: repeat(2, 587px) ;
    gap: 30px;
    max-width: 100%;
    max-height: 1550px;
    justify-content: center;

}
.showcaseCard img{
    width: 360px;
    height: 420px;
    top: 2188px;
    left: 1010px;
    gap: 0px;
    opacity: 0px;
}
.textIntoCard h2{
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left; 
    margin: 12px 28px 18px 16px;
}
.showcaseCard p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;   
    margin: 12px 28px 18px 16px;
}
.showcaseCard h3{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #F16D7F;
    margin: 12px 28px 18px 16px;   
}

/*Блок с кнопкой*/
.showcaseButton{
    display: flex;
    justify-content:center;
    margin: 48px 40% 50px 40%;
}
.showcaseButton button{
    width: 212px;
    height: 48px;
    top: 2817px;
    left: 695px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-color:  #FF6A6A;
    background-color: transparent;
}
.showcaseButton h2{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #F26376 ;
}

@media(min-width:768px) and (max-width: 1600px){
    .container{
        max-width: 768px;
        max-height: 2976px;
    }
    .searchString{
        display: grid;
        grid-template-columns: 32px 1fr 1fr 32px ;
    }
    .Logo{
        justify-content: flex-start;
    }
    .over{
        justify-content: end;
    }
    .meansPhoto img{
        width: 386px;
        height: 367.57px; 
    }
    .startBlockWithnameShop{
        width: 769.57px;
        min-height: 367.57px;
        grid-template-columns:  389px 386px  ;
        grid-template-rows: 386px ; 
        justify-content: center;      
    }
    .textstartBlockWithnameShop{
        font-family: Lato;
        width: 311px;
        height: 92px;
        top: 212.48px;
        left: 425px;
        margin: 138px 33.57px 137px auto;     
    }
    .textstartBlockWithnameShop marker{
        line-height: 28px;
        size: 24px;
        font-size: 20px;
    }
    .textstartBlockWithnameShop div{
        line-height: 28px;
        size: 24px;
        font-size: 20px;
    }
    .textstartBlockWithnameShop main{
        font-size: 44px;
        line-height: 52.8px;
    }
    .dres{
        grid-template-columns: repeat(3, 232px) ;
        gap: 19.9px;
    }
    .ForMan, .forWoman, .ForKids{
        width: 231.97px;
        height: 167.62px;
        top: 507px;
        left: 16.36px;
        background-size: 232px 167.6px;
    }
    .accesoares{
        width: 734.58px;
        height: 116.09px;
        top: 693.96px;
        left: 16.36px;
        background-size: 734.58px 116.09px;
    }
    .showcaseSaleCard{
        grid-template-columns: repeat(2, 360px) ;
        grid-template-rows: repeat(3, 587px) ;
        max-height: 1880px;
    }
    .showcaseButton{
        max-width: 768px;
        margin: 48px 40% 50px 40%;
    }


}
